<ion-header [translucent]="true">
  <app-header title="Users"></app-header>
</ion-header>
<ion-content class="users-page">

  <ion-refresher slot="fixed" (ionRefresh)="getUsers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/no-avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>John Dragovich</h2>
        <p>demo@demo.com</p>
      </ion-label>
      <ion-note slot="end">Nov 26, 1982</ion-note>
    </ion-item>

  </ion-list> -->

  <ion-list *ngIf="!firstLoading">

    <ion-item *ngFor="let user of users" routerDirection="forward" [routerLink]="['/main/users', user.id]">
      <ion-avatar slot="start">
        <img [src]="user.avatar ? apiUploads + user.avatar : 'assets/img/no-avatar.png'">
      </ion-avatar>
      <ion-label>
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <p>{{user.email}}</p>
      </ion-label>
      <ion-note slot="end">{{user.birthDate | date}}</ion-note>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="firstLoading">

    <ion-item *ngFor="let i of [].constructor(7)">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      </ion-label>
      <ion-note slot="end"><ion-skeleton-text animated style="width: 40px"></ion-skeleton-text></ion-note>
    </ion-item>

  </ion-list>

</ion-content>