ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
}
  
ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}
  
ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-item.selected {
    --color: var(--ion-color-primary);
}

.menu {
    height: 100px;
    padding-top: 10px;

    &__description {
        opacity: 0.6;
        font-size: 0.8rem;
    }
}